# Problem Set 4

## CED18I039 - Paleti Krishnasai

## QUESTION 1
**Select a subset of relevant attributes from the given dataset that are necessary to know about the
total volume of avocados with product lookup codes (PLU) 4046, 4225, 4770) which are of organic
type. (Use AVOCADO dataset)**

In [1]:
name=input("enter a name: ")
print(10*(name+"\n"))

enter a name: naina
naina
naina
naina
naina
naina
naina
naina
naina
naina
naina

In [2]:
marks = [float(i) for i in input("enter 5 values: ").split()]
print(marks)
total = marks[0]+marks[1]+marks[2]+marks[3]+marks[4]+marks[5]
avg = total/len(marks)
print(total,"\n",avg)

enter 5 values: 1 2 3 4 5 6
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]
21.0
 3.5

In [3]:
sub1=float(input("enter sub1 mark: "))
sub2=float(input("enter sub1 mark: "))
sub3=float(input("enter sub1 mark: "))
sub4=float(input("enter sub1 mark: "))
total = sub1+sub2+sub3+sub4
avg = total/4
print(total, avg)

enter sub1 mark: 12
enter sub1 mark: 13
enter sub1 mark: 14
enter sub1 mark: 15
54.0 13.5

In [4]:
radius = float(input("enter the radius: "))
peri = 2*3.14*radius
area = 3.14*radius**2
print(peri, area)

enter the radius: 7
43.96 153.86

In [7]:
princi = float(input("enter principal amount: "))
rate = float(input("enter rate of interest: "))
time = float(input("enter time period: "))
si = princi*rate*time/100
print("amount = ",si+princi)

enter principal amount: 100
enter rate of interest: 2
enter time period: 2
amount =  104.0

In [9]:
l= float(input("enter the length: "))
b = float(input("enter the breadth: "))
p = 2*(l+b)
a = l*b
print(p, a)

enter the length: 5
enter the breadth: 3
16.0 15.0

In [14]:
x= float(input("enter the naina: "))
y= float(input("enter the kanna: "))
print(x%y, x//y)

enter the naina: 5
enter the kanna: 2
1.0 2.0

In [18]:
name = (input("enter the name: "))
base =float(input("enter the base salary: "))
age =float(input("enter the age: "))
print(base*1.15)

enter the name: l
enter the base salary: 456
enter the age: -98
524.4

In [19]:
a,b=200,30
print(a+b,a*b)

230 6000

In [21]:
n1=float(input("Enter number 1: "))
n2=float(input("Enter number 2: "))
n1,n2=n2,n1
print(n1,n2)

Enter number 1: 5
Enter number 2: 6.68
6.68 5.0

In [22]:
n1=float(input("Enter number 1: "))
n2=float(input("Enter number 2: "))
c = n1
n1 = n2
n2 =c
print(n1,n2)

Enter number 1: 9.987
Enter number 2: 6.325
6.325 9.987

In [23]:
n1=float(input("Enter number 1: "))
n2=float(input("Enter number 2: "))
n1=n1+n2
n2=n1-n2
n1=n1-n2
print(n1,n2)

Enter number 1: 56.98
Enter number 2: -69.5
-69.5 56.98