In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from matplotlib.pyplot import xticks
from scipy.stats import skew
import seaborn as sns
import os
import warnings
import pandas_profiling as pp
warnings.filterwarnings('ignore')

In [2]:
cols = [
    'tourney_id', 
    'tourney_name', 
    'surface', 
    'draw_size', 
    'tourney_level',
    'tourney_date', 
    'match_num', 
    'winner_id', 
    'winner_seed', 
    'winner_entry',
    'winner_name',
    'winner_hand', 
    'winner_ht', 
    'winner_ioc', 
    'winner_age', 
    'winner_rank', 
    'winner_rank_points', 
    'loser_id',
    'loser_seed',
    'loser_entry',
    'loser_name',
    'loser_hand',
    'loser_ht',
    'loser_ioc',
    'loser_age',
    'loser_rank',
    'loser_rank_points',
    'score',
    'best_of', 
    'round',
    'minutes', 
    'w_ace', 
    'w_df', 
    'w_svpt',
    'w_1stIn', 
    'w_1stWon', 
    'w_2ndWon',
    'w_SvGms', 
    'w_bpSaved', 
    'w_bpFaced',
    'l_ace',
    'l_df',
    'l_svpt',
    'l_1stIn',
    'l_1stWon',
    'l_2ndWon',
    'l_SvGms',
    'l_bpSaved',
    'l_bpFaced'
]

In [3]:


ltennis = pd.concat([
    pd.read_csv('atp_matches_2000.csv', usecols=cols),
    pd.read_csv('atp_matches_2001.csv', usecols=cols),
    pd.read_csv('atp_matches_2002.csv', usecols=cols),
    pd.read_csv('atp_matches_2003.csv', usecols=cols),
    pd.read_csv('atp_matches_2004.csv', usecols=cols),
    pd.read_csv('atp_matches_2005.csv', usecols=cols),
    pd.read_csv('atp_matches_2006.csv', usecols=cols),
    pd.read_csv('atp_matches_2007.csv', usecols=cols),
    pd.read_csv('atp_matches_2008.csv', usecols=cols),
    pd.read_csv('atp_matches_2009.csv', usecols=cols),
    pd.read_csv('atp_matches_2010.csv', usecols=cols),
    pd.read_csv('atp_matches_2011.csv', usecols=cols),
    pd.read_csv('atp_matches_2012.csv', usecols=cols),
    pd.read_csv('atp_matches_2013.csv', usecols=cols),
    pd.read_csv('atp_matches_2014.csv', usecols=cols),
    pd.read_csv('atp_matches_2015.csv', usecols=cols),
    pd.read_csv('atp_matches_2016.csv', usecols=cols),
    pd.read_csv('atp_matches_2017.csv', usecols=cols),

],ignore_index=True) #have to make sure that the index will not be duplicated

ltennis

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2000-717,Orlando,Clay,32.0,A,20000501.0,1.0,102179.0,NaN,NaN,...,15.0,13.0,4.0,110.0,59.0,49.0,31.0,17.0,4.0,4.0
1,2000-717,Orlando,Clay,32.0,A,20000501.0,2.0,103602.0,NaN,Q,...,6.0,0.0,0.0,57.0,24.0,13.0,17.0,10.0,4.0,9.0
2,2000-717,Orlando,Clay,32.0,A,20000501.0,3.0,103387.0,NaN,NaN,...,0.0,2.0,2.0,65.0,39.0,22.0,10.0,8.0,6.0,10.0
3,2000-717,Orlando,Clay,32.0,A,20000501.0,4.0,101733.0,NaN,NaN,...,12.0,4.0,6.0,104.0,57.0,35.0,24.0,15.0,6.0,11.0
4,2000-717,Orlando,Clay,32.0,A,20000501.0,5.0,101727.0,4.0,NaN,...,1.0,0.0,3.0,47.0,28.0,17.0,10.0,8.0,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53566,2017-M-DC-2017-WG-M-RUS-SRB-01,Davis Cup WG R1: RUS vs SRB,Hard,4.0,D,20170203.0,5.0,106421.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53567,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,1.0,106058.0,NaN,NaN,...,4.0,4.0,5.0,82.0,52.0,38.0,9.0,13.0,7.0,12.0
53568,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,2.0,104545.0,NaN,NaN,...,9.0,7.0,9.0,113.0,76.0,53.0,17.0,19.0,7.0,11.0
53569,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,4.0,105023.0,NaN,NaN,...,0.0,3.0,2.0,76.0,42.0,30.0,14.0,10.0,8.0,10.0
53570,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,5.0,105449.0,NaN,NaN,...,4.0,1.0,2.0,54.0,27.0,15.0,15.0,9.0,2.0,6.0

In [4]:
#based on the profiling report, we can remove the columns with >50% missing values.
ltennis.drop(['winner_seed'],axis=1,inplace=True)
ltennis.drop(['winner_entry'],axis=1,inplace=True)



ltennis.drop(['loser_seed'],axis=1,inplace=True)
ltennis.drop(['loser_entry'],axis=1,inplace=True)

In [5]:
ltennis.isnull().any()

tourney_id            True
tourney_name          True
surface               True
draw_size             True
tourney_level         True
tourney_date          True
match_num             True
winner_id             True
winner_name           True
winner_hand           True
winner_ht             True
winner_ioc            True
winner_age            True
winner_rank           True
winner_rank_points    True
loser_id              True
loser_name            True
loser_hand            True
loser_ht              True
loser_ioc             True
loser_age             True
loser_rank            True
loser_rank_points     True
score                 True
best_of               True
round                 True
minutes               True
w_ace                 True
w_df                  True
w_svpt                True
w_1stIn               True
w_1stWon              True
w_2ndWon              True
w_SvGms               True
w_bpSaved             True
w_bpFaced             True
l_ace                 True
l_df                  True
l_svpt                True
l_1stIn               True
l_1stWon              True
l_2ndWon              True
l_SvGms               True
l_bpSaved             True
l_bpFaced             True
dtype: bool

In [6]:
ltennis = ltennis.dropna()
#filling with statistical values will create a biased data in this case as it is real world match data which can swing in either direction.
#dataset format gives an index scalar error without manually altering the dataset to convert certain objects to numerical data ( like score which cannot be sliced uniformly...we need to manually do 1 row at a time.)

In [7]:
ltennis.isnull().any()

tourney_id            False
tourney_name          False
surface               False
draw_size             False
tourney_level         False
tourney_date          False
match_num             False
winner_id             False
winner_name           False
winner_hand           False
winner_ht             False
winner_ioc            False
winner_age            False
winner_rank           False
winner_rank_points    False
loser_id              False
loser_name            False
loser_hand            False
loser_ht              False
loser_ioc             False
loser_age             False
loser_rank            False
loser_rank_points     False
score                 False
best_of               False
round                 False
minutes               False
w_ace                 False
w_df                  False
w_svpt                False
w_1stIn               False
w_1stWon              False
w_2ndWon              False
w_SvGms               False
w_bpSaved             False
w_bpFaced             False
l_ace                 False
l_df                  False
l_svpt                False
l_1stIn               False
l_1stWon              False
l_2ndWon              False
l_SvGms               False
l_bpSaved             False
l_bpFaced             False
dtype: bool

In [8]:
ltennis=ltennis.applymap(str)

In [9]:
from mlxtend.frequent_patterns import apriori, association_rules
import csv

In [10]:
# Obtaining the individual transactions
l = ltennis.values.tolist()

In [11]:
#One Hot Encoding
from mlxtend.preprocessing import TransactionEncoder
ohe = TransactionEncoder()
ohe_rec = ohe.fit(l).transform(l)
df = pd.DataFrame(ohe_rec, columns=ohe.columns_)
df
#df[cat] = le.fit_transform(df[cat].astype(str))

,RET,'s-Hertogenbosch,0-1 RET,0-6 1-6 7-6(6) 6-4 8-6,0-6 2-6 6-4 6-2 6-2,0-6 3-6 6-3 6-4 7-5,0-6 3-6 6-4 6-1 8-6,0-6 5-7 6-2 7-5 6-4,0-6 6-0 6-1,0-6 6-1 6-2,...,Younes El Aynaoui,Yuki Bhambri,Yuri Schukin,Yves Allegro,ZIM,Zack Fleishman,Zagreb,Zbynek Mlynarik,Zeljko Krajan,s-Hertogenbosch
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42057,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42058,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42059,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42060,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42061,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
import time
#Applying apriori algo with min_suport = 0.2 and confidence 0.2
start = time.process_time()
freq_items=apriori(df, min_support=0.2, use_colnames=True)
time_taken=time.process_time() - start
print(f'Time taken for mining the dataset is {time_taken}')
freq_items

Time taken for mining the dataset is 29.403258499000003

      support                 itemsets
0    0.413746                    (0.0)
1    0.603205                    (1.0)
2    0.488232                   (10.0)
3    0.406590                   (11.0)
4    0.343445                   (12.0)
..        ...                      ...
643  0.212472   (A, 3.0, 8.0, 32.0, R)
644  0.224454   (9.0, A, 3.0, 32.0, R)
645  0.202011  (A, Hard, 3.0, 32.0, R)
646  0.201203   (R32, A, 3.0, 32.0, R)
647  0.207265    (A, 4.0, 3.0, 5.0, R)

[648 rows x 2 columns]

In [15]:
#Forming association rules using FIS
start = time.process_time()
rules = association_rules(freq_items, metric="confidence", min_threshold=0.2)
time_taken=time.process_time() - start
print(f'Time taken for forming the association rules with the above frequent itemset is {time_taken}')
rules

Time taken for forming the association rules with the above frequent itemset is 0.04010892200000171

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0.0),(1.0),0.413746,0.603205,0.278399,0.672872,1.115496,0.028825,1.212968
1,(1.0),(0.0),0.603205,0.413746,0.278399,0.461532,1.115496,0.028825,1.088744
2,(10.0),(0.0),0.488232,0.413746,0.207218,0.424425,1.025811,0.005214,1.018554
3,(0.0),(10.0),0.413746,0.488232,0.207218,0.500833,1.025811,0.005214,1.025245
4,(0.0),(2.0),0.413746,0.659574,0.281703,0.680860,1.032272,0.008807,1.066697
...,...,...,...,...,...,...,...,...,...
4829,(A),"(4.0, R, 5.0, 3.0)",0.593481,0.338691,0.207265,0.349237,1.031139,0.006259,1.016206
4830,(4.0),"(A, 5.0, R, 3.0)",0.620964,0.338572,0.207265,0.333780,0.985848,-0.002975,0.992808
4831,(3.0),"(A, 4.0, R, 5.0)",0.916932,0.207384,0.207265,0.226042,1.089968,0.017108,1.024107
4832,(5.0),"(A, 4.0, R, 3.0)",0.659574,0.373259,0.207265,0.314241,0.841887,-0.038926,0.913939
4833,(R),"(A, 4.0, 5.0, 3.0)",0.984761,0.210332,0.207265,0.210473,1.000668,0.000138,1.000178

In [17]:
#Applying apriori algo with min_suport = 0.5 and confidence 0.13
start = time.process_time()
freq_items=apriori(df, min_support=0.5, use_colnames=True)
time_taken=time.process_time() - start
print(f'Time taken for mining the dataset is {time_taken}')
freq_items

Time taken for mining the dataset is 22.35745227000001

     support       itemsets
0   0.603205          (1.0)
1   0.659574          (2.0)
2   0.916932          (3.0)
3   0.620964          (4.0)
4   0.659574          (5.0)
5   0.526223          (6.0)
6   0.514360          (9.0)
7   0.593481            (A)
8   0.525177         (Hard)
9   0.984761            (R)
10  0.569730     (1.0, 3.0)
11  0.594955       (1.0, R)
12  0.617921     (2.0, 3.0)
13  0.649161       (R, 2.0)
14  0.573463     (4.0, 3.0)
15  0.576506     (5.0, 3.0)
16  0.593053       (A, 3.0)
17  0.903048       (R, 3.0)
18  0.611264       (4.0, R)
19  0.649589       (5.0, R)
20  0.518497       (6.0, R)
21  0.506633       (9.0, R)
22  0.584399         (A, R)
23  0.517236      (Hard, R)
24  0.561885  (1.0, R, 3.0)
25  0.608174  (2.0, R, 3.0)
26  0.564571  (4.0, R, 3.0)
27  0.567876  (5.0, R, 3.0)
28  0.583971    (A, R, 3.0)

In [18]:
#Forming association rules using FIS
start = time.process_time()
rules = association_rules(freq_items, metric="confidence", min_threshold=0.13)
time_taken=time.process_time() - start
print(f'Time taken for forming the association rules with the above frequent itemset is {time_taken}')
rules

Time taken for forming the association rules with the above frequent itemset is 0.009409328000003825

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1.0),(3.0),0.603205,0.916932,0.569730,0.944506,1.030072,0.016633,1.496873
1,(3.0),(1.0),0.916932,0.603205,0.569730,0.621344,1.030072,0.016633,1.047905
2,(1.0),(R),0.603205,0.984761,0.594955,0.986324,1.001587,0.000943,1.114277
3,(R),(1.0),0.984761,0.603205,0.594955,0.604162,1.001587,0.000943,1.002419
4,(2.0),(3.0),0.659574,0.916932,0.617921,0.936849,1.021721,0.013137,1.315383
5,(3.0),(2.0),0.916932,0.659574,0.617921,0.673901,1.021721,0.013137,1.043933
6,(R),(2.0),0.984761,0.659574,0.649161,0.659207,0.999443,-0.000362,0.998922
7,(2.0),(R),0.659574,0.984761,0.649161,0.984212,0.999443,-0.000362,0.965267
8,(4.0),(3.0),0.620964,0.916932,0.573463,0.923504,1.007167,0.004081,1.085911
9,(3.0),(4.0),0.916932,0.620964,0.573463,0.625415,1.007167,0.004081,1.011881
10,(5.0),(3.0),0.659574,0.916932,0.576506,0.874058,0.953242,-0.028278,0.659574
11,(3.0),(5.0),0.916932,0.659574,0.576506,0.628734,0.953242,-0.028278,0.916932
12,(A),(3.0),0.593481,0.916932,0.593053,0.999279,1.089807,0.048871,115.201266
13,(3.0),(A),0.916932,0.593481,0.593053,0.646780,1.089807,0.048871,1.150894
14,(R),(3.0),0.984761,0.916932,0.903048,0.917023,1.000099,0.000089,1.001092
15,(3.0),(R),0.916932,0.984761,0.903048,0.984858,1.000099,0.000089,1.006427
16,(4.0),(R),0.620964,0.984761,0.611264,0.984379,0.999613,-0.000237,0.975584
17,(R),(4.0),0.984761,0.620964,0.611264,0.620724,0.999613,-0.000237,0.999366
18,(5.0),(R),0.659574,0.984761,0.649589,0.984861,1.000102,0.000066,1.006635
19,(R),(5.0),0.984761,0.659574,0.649589,0.659641,1.000102,0.000066,1.000198
20,(6.0),(R),0.526223,0.984761,0.518497,0.985317,1.000565,0.000293,1.037874
21,(R),(6.0),0.984761,0.526223,0.518497,0.526520,1.000565,0.000293,1.000628
22,(9.0),(R),0.514360,0.984761,0.506633,0.984978,1.000221,0.000112,1.014476
23,(R),(9.0),0.984761,0.514360,0.506633,0.514473,1.000221,0.000112,1.000234
24,(A),(R),0.593481,0.984761,0.584399,0.984697,0.999936,-0.000038,0.995867
25,(R),(A),0.984761,0.593481,0.584399,0.593443,0.999936,-0.000038,0.999906
26,(Hard),(R),0.525177,0.984761,0.517236,0.984880,1.000121,0.000063,1.007900
27,(R),(Hard),0.984761,0.525177,0.517236,0.525241,1.000121,0.000063,1.000134
28,"(1.0, R)",(3.0),0.594955,0.916932,0.561885,0.944416,1.029973,0.016351,1.494445
29,"(1.0, 3.0)",(R),0.569730,0.984761,0.561885,0.986229,1.001491,0.000837,1.106658
30,"(R, 3.0)",(1.0),0.903048,0.603205,0.561885,0.622209,1.031506,0.017162,1.050304
31,(1.0),"(R, 3.0)",0.603205,0.903048,0.561885,0.931499,1.031506,0.017162,1.415345
32,(R),"(1.0, 3.0)",0.984761,0.569730,0.561885,0.570580,1.001491,0.000837,1.001979
33,(3.0),"(1.0, R)",0.916932,0.594955,0.561885,0.612788,1.029973,0.016351,1.046054
34,"(R, 2.0)",(3.0),0.649161,0.916932,0.608174,0.936861,1.021735,0.012937,1.315643
35,"(3.0, 2.0)",(R),0.617921,0.984761,0.608174,0.984225,0.999456,-0.000331,0.966067
36,"(R, 3.0)",(2.0),0.903048,0.659574,0.608174,0.673468,1.021065,0.012547,1.042550
37,(2.0),"(R, 3.0)",0.659574,0.903048,0.608174,0.922070,1.021065,0.012547,1.244099
38,(R),"(3.0, 2.0)",0.984761,0.617921,0.608174,0.617585,0.999456,-0.000331,0.999122
39,(3.0),"(R, 2.0)",0.916932,0.649161,0.608174,0.663270,1.021735,0.012937,1.041901
40,"(4.0, R)",(3.0),0.611264,0.916932,0.564571,0.923612,1.007286,0.004083,1.087453
41,"(4.0, 3.0)",(R),0.573463,0.984761,0.564571,0.984495,0.999730,-0.000152,0.982860
42,"(R, 3.0)",(4.0),0.903048,0.620964,0.564571,0.625184,1.006796,0.003811,1.011259
43,(4.0),"(R, 3.0)",0.620964,0.903048,0.564571,0.909185,1.006796,0.003811,1.067577
44,(R),"(4.0, 3.0)",0.984761,0.573463,0.564571,0.573308,0.999730,-0.000152,0.999637
45,(3.0),"(4.0, R)",0.916932,0.611264,0.564571,0.615718,1.007286,0.004083,1.011589
46,"(5.0, R)",(3.0),0.649589,0.916932,0.567876,0.874209,0.953406,-0.027753,0.660362
47,"(5.0, 3.0)",(R),0.576506,0.984761,0.567876,0.985030,1.000274,0.000155,1.018018
48,"(R, 3.0)",(5.0),0.903048,0.659574,0.567876,0.628844,0.953409,-0.027751,0.917204
49,(5.0),"(R, 3.0)",0.659574,0.903048,0.567876,0.860974,0.953409,-0.027751,0.697367
50,(R),"(5.0, 3.0)",0.984761,0.576506,0.567876,0.576664,1.000274,0.000155,1.000373
51,(3.0),"(5.0, R)",0.916932,0.649589,0.567876,0.619322,0.953406,-0.027753,0.920492
52,"(A, R)",(3.0),0.584399,0.916932,0.583971,0.999268,1.089795,0.048117,113.438382
53,"(A, 3.0)",(R),0.593053,0.984761,0.583971,0.984686,0.999925,-0.000044,0.995149
54,"(R, 3.0)",(A),0.903048,0.593481,0.583971,0.646667,1.089617,0.048029,1.150526
55,(A),"(R, 3.0)",0.593481,0.903048,0.583971,0.983976,1.089617,0.048029,6.050539
56,(R),"(A, 3.0)",0.984761,0.593053,0.583971,0.593008,0.999925,-0.000044,0.999890
57,(3.0),"(A, R)",0.916932,0.584399,0.583971,0.636875,1.089795,0.048117,1.144512