In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from matplotlib.pyplot import xticks
from scipy.stats import skew
import seaborn as sns
import os
import warnings
import pandas_profiling as pp
warnings.filterwarnings('ignore')

In [2]:
cols = [
    'tourney_id', 
    'tourney_name', 
    'surface', 
    'draw_size', 
    'tourney_level',
    'tourney_date', 
    'match_num', 
    'winner_id', 
    'winner_seed', 
    'winner_entry',
    'winner_name',
    'winner_hand', 
    'winner_ht', 
    'winner_ioc', 
    'winner_age', 
    'winner_rank', 
    'winner_rank_points', 
    'loser_id',
    'loser_seed',
    'loser_entry',
    'loser_name',
    'loser_hand',
    'loser_ht',
    'loser_ioc',
    'loser_age',
    'loser_rank',
    'loser_rank_points',
    'score',
    'best_of', 
    'round',
    'minutes', 
    'w_ace', 
    'w_df', 
    'w_svpt',
    'w_1stIn', 
    'w_1stWon', 
    'w_2ndWon',
    'w_SvGms', 
    'w_bpSaved', 
    'w_bpFaced',
    'l_ace',
    'l_df',
    'l_svpt',
    'l_1stIn',
    'l_1stWon',
    'l_2ndWon',
    'l_SvGms',
    'l_bpSaved',
    'l_bpFaced'
]

In [3]:
ltennis = pd.concat([
    pd.read_csv('atp_matches_2000.csv', usecols=cols),
    pd.read_csv('atp_matches_2001.csv', usecols=cols),
    pd.read_csv('atp_matches_2002.csv', usecols=cols),
    pd.read_csv('atp_matches_2003.csv', usecols=cols),
    pd.read_csv('atp_matches_2004.csv', usecols=cols),
    pd.read_csv('atp_matches_2005.csv', usecols=cols),
    pd.read_csv('atp_matches_2006.csv', usecols=cols),
    pd.read_csv('atp_matches_2007.csv', usecols=cols),
    pd.read_csv('atp_matches_2008.csv', usecols=cols),
    pd.read_csv('atp_matches_2009.csv', usecols=cols),
    pd.read_csv('atp_matches_2010.csv', usecols=cols),
    pd.read_csv('atp_matches_2011.csv', usecols=cols),
    pd.read_csv('atp_matches_2012.csv', usecols=cols),
    pd.read_csv('atp_matches_2013.csv', usecols=cols),
    pd.read_csv('atp_matches_2014.csv', usecols=cols),
    pd.read_csv('atp_matches_2015.csv', usecols=cols),
    pd.read_csv('atp_matches_2016.csv', usecols=cols),
    pd.read_csv('atp_matches_2017.csv', usecols=cols),

],ignore_index=True) #have to make sure that the index will not be duplicated

ltennis

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2000-717,Orlando,Clay,32.0,A,20000501.0,1.0,102179.0,NaN,NaN,...,15.0,13.0,4.0,110.0,59.0,49.0,31.0,17.0,4.0,4.0
1,2000-717,Orlando,Clay,32.0,A,20000501.0,2.0,103602.0,NaN,Q,...,6.0,0.0,0.0,57.0,24.0,13.0,17.0,10.0,4.0,9.0
2,2000-717,Orlando,Clay,32.0,A,20000501.0,3.0,103387.0,NaN,NaN,...,0.0,2.0,2.0,65.0,39.0,22.0,10.0,8.0,6.0,10.0
3,2000-717,Orlando,Clay,32.0,A,20000501.0,4.0,101733.0,NaN,NaN,...,12.0,4.0,6.0,104.0,57.0,35.0,24.0,15.0,6.0,11.0
4,2000-717,Orlando,Clay,32.0,A,20000501.0,5.0,101727.0,4.0,NaN,...,1.0,0.0,3.0,47.0,28.0,17.0,10.0,8.0,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53566,2017-M-DC-2017-WG-M-RUS-SRB-01,Davis Cup WG R1: RUS vs SRB,Hard,4.0,D,20170203.0,5.0,106421.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53567,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,1.0,106058.0,NaN,NaN,...,4.0,4.0,5.0,82.0,52.0,38.0,9.0,13.0,7.0,12.0
53568,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,2.0,104545.0,NaN,NaN,...,9.0,7.0,9.0,113.0,76.0,53.0,17.0,19.0,7.0,11.0
53569,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,4.0,105023.0,NaN,NaN,...,0.0,3.0,2.0,76.0,42.0,30.0,14.0,10.0,8.0,10.0
53570,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,5.0,105449.0,NaN,NaN,...,4.0,1.0,2.0,54.0,27.0,15.0,15.0,9.0,2.0,6.0

In [4]:
#based on the profiling report, we can remove the columns with >50% missing values.
ltennis.drop(['winner_seed'],axis=1,inplace=True)
ltennis.drop(['winner_entry'],axis=1,inplace=True)
ltennis.drop(['winner_id'],axis=1,inplace=True)
ltennis.drop(['winner_name'],axis=1,inplace=True)
ltennis.drop(['winner_hand'],axis=1,inplace=True)
ltennis.drop(['winner_ht'],axis=1,inplace=True)
ltennis.drop(['winner_ioc'],axis=1,inplace=True)
ltennis.drop(['winner_age'],axis=1,inplace=True)
ltennis.drop(['winner_rank'],axis=1,inplace=True)
ltennis.drop(['winner_rank_points'],axis=1,inplace=True)


ltennis.drop(['loser_seed'],axis=1,inplace=True)
ltennis.drop(['loser_entry'],axis=1,inplace=True)
ltennis.drop(['loser_id'],axis=1,inplace=True)
ltennis.drop(['loser_name'],axis=1,inplace=True)
ltennis.drop(['loser_hand'],axis=1,inplace=True)
ltennis.drop(['loser_ht'],axis=1,inplace=True)
ltennis.drop(['loser_ioc'],axis=1,inplace=True)
ltennis.drop(['loser_age'],axis=1,inplace=True)
ltennis.drop(['loser_rank'],axis=1,inplace=True)
ltennis.drop(['loser_rank_points'],axis=1,inplace=True)


ltennis.drop(['tourney_id'],axis=1,inplace=True)
ltennis.drop(['tourney_date'],axis=1,inplace=True)
#ltennis.drop(['tourney_name'],axis=1,inplace=True)
ltennis.drop(['match_num'],axis=1,inplace=True)
ltennis.drop(['score'],axis=1,inplace=True)

In [5]:
ltennis.isnull().any()

tourney_name     True
surface          True
draw_size        True
tourney_level    True
best_of          True
round            True
minutes          True
w_ace            True
w_df             True
w_svpt           True
w_1stIn          True
w_1stWon         True
w_2ndWon         True
w_SvGms          True
w_bpSaved        True
w_bpFaced        True
l_ace            True
l_df             True
l_svpt           True
l_1stIn          True
l_1stWon         True
l_2ndWon         True
l_SvGms          True
l_bpSaved        True
l_bpFaced        True
dtype: bool

In [6]:
ltennis = ltennis.dropna()
#filling with statistical values will create a biased data in this case as it is real world match data which can swing in either direction.
#dataset format gives an index scalar error without manually altering the dataset to convert certain objects to numerical data ( like score which cannot be sliced uniformly...we need to manually do 1 row at a time.)

In [7]:
ltennis.isnull().any()

tourney_name     False
surface          False
draw_size        False
tourney_level    False
best_of          False
round            False
minutes          False
w_ace            False
w_df             False
w_svpt           False
w_1stIn          False
w_1stWon         False
w_2ndWon         False
w_SvGms          False
w_bpSaved        False
w_bpFaced        False
l_ace            False
l_df             False
l_svpt           False
l_1stIn          False
l_1stWon         False
l_2ndWon         False
l_SvGms          False
l_bpSaved        False
l_bpFaced        False
dtype: bool

In [8]:
ltennis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46432 entries, 0 to 53570
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tourney_name   46432 non-null  object
 1   surface        46432 non-null  object
 2   draw_size      46432 non-null  float64
 3   tourney_level  46432 non-null  object
 4   best_of        46432 non-null  float64
 5   round          46432 non-null  object
 6   minutes        46432 non-null  float64
 7   w_ace          46432 non-null  float64
 8   w_df           46432 non-null  float64
 9   w_svpt         46432 non-null  float64
 10  w_1stIn        46432 non-null  float64
 11  w_1stWon       46432 non-null  float64
 12  w_2ndWon       46432 non-null  float64
 13  w_SvGms        46432 non-null  float64
 14  w_bpSaved      46432 non-null  float64
 15  w_bpFaced      46432 non-null  float64
 16  l_ace          46432 non-null  float64
 17  l_df           46432 non-null  float64
 18  l_svpt         46432 non-null  float64
 19  l_1stIn        46432 non-null  float64
 20  l_1stWon       46432 non-null  float64
 21  l_2ndWon       46432 non-null  float64
 22  l_SvGms        46432 non-null  float64
 23  l_bpSaved      46432 non-null  float64
 24  l_bpFaced      46432 non-null  float64
dtypes: float64(21), object(4)
memory usage: 9.2+ MB

In [9]:
# encoding objects
ltennis['surface'] = ltennis['surface'].astype('category')
ltennis['tourney_level'] = ltennis['tourney_level'].astype('category')
ltennis['round'] = ltennis['round'].astype('category')
ltennis['tourney_name'] = ltennis['tourney_name'].astype('category')

ltennis['surface'] = ltennis['surface'].cat.codes
ltennis['tourney_level'] = ltennis['tourney_level'].cat.codes
ltennis['round'] = ltennis['round'].cat.codes
ltennis['tourney_name'] = ltennis['tourney_name'].cat.codes

In [10]:
ltennis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46432 entries, 0 to 53570
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tourney_name   46432 non-null  int16
 1   surface        46432 non-null  int8
 2   draw_size      46432 non-null  float64
 3   tourney_level  46432 non-null  int8
 4   best_of        46432 non-null  float64
 5   round          46432 non-null  int8
 6   minutes        46432 non-null  float64
 7   w_ace          46432 non-null  float64
 8   w_df           46432 non-null  float64
 9   w_svpt         46432 non-null  float64
 10  w_1stIn        46432 non-null  float64
 11  w_1stWon       46432 non-null  float64
 12  w_2ndWon       46432 non-null  float64
 13  w_SvGms        46432 non-null  float64
 14  w_bpSaved      46432 non-null  float64
 15  w_bpFaced      46432 non-null  float64
 16  l_ace          46432 non-null  float64
 17  l_df           46432 non-null  float64
 18  l_svpt         46432 non-null  float64
 19  l_1stIn        46432 non-null  float64
 20  l_1stWon       46432 non-null  float64
 21  l_2ndWon       46432 non-null  float64
 22  l_SvGms        46432 non-null  float64
 23  l_bpSaved      46432 non-null  float64
 24  l_bpFaced      46432 non-null  float64
dtypes: float64(21), int16(1), int8(3)
memory usage: 8.0 MB

In [11]:
ltennis.shape

(46432, 25)

In [12]:
new_data = ltennis.iloc[:25000,:].values
# new_data = ltennis

In [13]:
# !pip install scikit-learn-extra

In [14]:
from sklearn_extra.cluster import KMedoids

In [ ]:
X = new_data
kmedoids = KMedoids(n_clusters=4, random_state=42).fit(X)
Kmed_pred=kmedoids.fit_predict(X)

plt.scatter(X[:,0], X[:,1])
plt.scatter(kmedoids.cluster_centers_[:, 0], kmedoids.cluster_centers_[:, 1], s=300, c='red')
plt.show()